.footer {
  background-color: $color-footer-background;

  &-wrapper {
    max-width: $size-desktop-width;
    margin: 0 auto;

    .phone-number {
      @include letters-m;

      color: $color-primary-dark;
      text-decoration: none;

      &:hover {
        transition: 0.7s;
        color: $color-clicable-el;
      }
    }

    .footer-info-block {
      .footer-nav-block {
        padding: 24px 20px;

        .links {
          display: flex;
          flex-direction: column;

          & ul {
            list-style: none;

            & li {
              margin-bottom: 12px;
            }
          }

          .link {
            @include letters-xs;

            font-family: $font-family-acme;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $color-primary-dark;
            text-decoration: none;

            &:hover {
              color: $color-clicable-el;
              transition: 0.7s;
            }
          }
        }

        .call-the-soc {
          @include letters-xs;

          font-family: $font-family-acme;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $color-primary-dark;
        }
      }

      .footer-address-block-wrapper {
        .footer-address-block {
          border-top: 2px solid $color-clicable-el;
          padding: 8px 0 8px 23px;

          .footer-address-title {
            font-family: $font-family-aclonica;
            font-size: $font-s;
            line-height: 36px;
            color: $color-primary-dark;
          }

          .footer-address-info {
            font-family: $font-family-aclonica;
            font-size: $font-xxs;
            line-height: 20px;
            color: $color-primary-dark;
          }

          .footer-map-link {
            display: inline-block;
            margin-top: 6px;
            font-family: $font-family-aclonica;
            font-size: $font-xxs;
            line-height: 20px;
            color: $color-clicable-el;
            text-decoration: none;

            &:hover {
              color: $color-primary-dark;
              transition: 0.7s;
            }
          }
        }
      }
    }

    .footer-delimiter {
      display: block;
      width: 100%;
      height: 2px;
      margin: 12px 0 40px 0;
      background-color: $color-delimiter;
    }

    .footer-down-side {
      .footer-social-block {
        display: flex;
        justify-content: space-around;

        & a {
          text-decoration: none;
        }

        .icon {
          fill: $color-primary-dark;

          &:hover {
            transition: 0.7s;
          }
        }

        .facebook,
        .linkedin {
          width: 25px;
          height: 25px;
        }

        .facebook:hover {
          fill: #4267b2;
        }

        .linkedin:hover {
          fill: #0275b4;
        }

        .twitter {
          width: 31.5px;
          height: 25px;

          &:hover {
            fill: #41abe1;
          }
        }

        .youtube {
          width: 36.25px;
          height: 25px;

          &:hover {
            fill: #ff0000;
          }
        }
      }

      .footer-logo-wrapper {
        margin-top: 20px;
        text-align: center;

        .footer-logo {
          width: 105px;
        }
      }
    }
  }
}

@media only screen and (min-width: $size-desktop-width) {
  .footer {
    &-wrapper {
      .footer-info-block {
        display: flex;
        justify-content: space-between;
        padding: 78px 135px 0 135px;

        .footer-nav-block {
          max-width: 200px;
          padding: 0;

          .links {
            & ul li {
              margin-bottom: 30px;
            }
          }
        }

        .footer-address-block-wrapper {
          width: 900px;

          .footer-address-block {
            display: flex;
            align-items: center;
            padding: 10px 0 50px 0;

            .footer-address-title {
              @include letters-l;

              width: 320px;
              margin-right: 20px;
            }

            .footer-address-info {
              max-width: 270px;
              margin-left: 30px;
              font-size: $font-s;
            }

            .footer-map-link {
              @include letters-m;

              display: block;
              margin: 0 0 0 auto;
            }
          }
        }
      }

      .footer-delimiter {
        margin: 0;
      }

      .footer-down-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 135px;

        .footer-social-block {
          max-width: 280px;
          width: 100%;
        }

        .footer-logo-wrapper {
          margin: 0;

          .footer-logo {
            width: 170px;
          }
        }
      }
    }
  }
}
