$color-white: #FFFFFF;
$color-clicable-el: #22BF95;
$color-primary-dark: #7F7F7F;
$color-accordion-item: #E5E5E5;
$color-delimiter: #B2B2B2;
$color-footer-background: #F2F2F2;

$size-mobile-content-width: 335px;
$size-tablet-width: 768px;
$size-laptop-size: 1024px;
$size-laptop-large-size: 1200px;
$size-desktop-width: 1440px;
$size-logo-desktop: 110px;
$size-logo-mobile: 92px;
$size-card-image: 90px;
$size-note-icon: 22px;
$size-dot: 6px;
$size-active-dot: 24px;
$size-card-icon-checked: 35px;
$size-arrow-right: 35px;

$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 24px;
$font-l: 40px;
$font-xl: 110px;

$line-height-s: 20px;
$line-height-m: 24px;
$line-height-l: 130px;

$font-family-actor: "Actor", sans-serif;
$font-family-aclonica: "Aclonica", sans-serif;
$font-family-acme: "Acme", sans-serif;

$button-animation-shadow: 0 21px 30px rgba(127, 127, 127, 0.4);