@import "variables";

@mixin letters-xxs {
  font-size: $font-xxs;
  line-height: 20px;
  font-family: $font-family-acme;
}

@mixin letters-xs {
  font-size: $font-xxs;
  line-height: 24px;
}

@mixin letters-s {
  font-size: $font-xs;
  line-height: 24px;
  font-family: $font-family-aclonica;
}

@mixin letters-m {
  font-size: $font-s;
  line-height: 24px;
  font-family: $font-family-aclonica;
}

@mixin letters-l {
  font-size: $font-m;
  line-height: 36px;
}

@mixin letters-xl {
  font-size: $font-l;
  line-height: 48px;
  font-family: $font-family-actor;
}

@mixin letters-xxl {
  font-size: $font-xl;
  line-height: 130px;
}