$color-white: #FFFFFF;
$color-clicable-el: #22BF95;
$color-primary-dark: #7F7F7F;
$color-accordion-item: #E5E5E5;
$color-delimiter: #B2B2B2;
$color-footer-background: #F2F2F2;

$size-tablet-width: 768px;
$size-desktop-width: 1440px;
$size-logo-desktop: 110px;
$size-logo-mobile: 92px;
$size-accordion-image-desktop: 270px;
$size-accordion-image-mobile: 117px;
$size-accordion-button-desktop: 35px;
$size-accordion-button-mobile: 14px;
$size-note-icon: 30px;
$size-slider-button: 16px;

$font-xxs: 12px;
$font-xs: 14px;
$font-s: 16px;
$font-m: 24px;
$font-l: 40px;
$font-xl: 110px;

$font-family-actor: "Actor", sans-serif;
$font-family-aclonica: "Aclonica", sans-serif;
$font-family-acme: "Acme", sans-serif;